body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    cursor: url("../assets/board/mouse-active.svg"), auto;
}

p {
    color: #fff;
    font-family: Inter;
    font-style: italic;
    font-weight: 600;
    line-height: normal;
}

/* width */
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.canvasContainer {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
}

.titleContainer {
    position: absolute;
    top: calc(100vw / 50);
    left: calc(100vw / 50);

    width: calc(100vw / 8);
    height: calc(100vw / 30);

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #2766f3;
    border-radius: calc(100vw / 100);
}

#title {
    color: #fff;
    font-family: Inter;
    font-size: calc(100vw / 70);
    font-style: italic;
    font-weight: 600;
    line-height: normal;
    user-select: none;
}

.controlContainer-inactive {
    cursor: pointer;

    position: absolute;
    top: calc(100vw / 50);
    right: calc(100vw / 50);

    width: calc(100vw / 35);
    height: calc(100vw / 35);

    display: flex;
    flex-direction: column;

    background-color: #2b64f1;
    border-radius: calc(100vw / 2);

    transition: width 200ms, height 200ms, background-color 800ms;
}

.controlContainer-inactive #controlHeader p {
    visibility: hidden;
}

.controlContainer-inactive #controlHeader {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #000; */
}

.controlContainer-inactive #menuIconContainer {
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100vw / 35);
    height: calc(100vw / 35);

    display: flex;
    justify-content: center;
    align-items: center;
}

.controlContainer-inactive #themeContainer {
    visibility: hidden;
}

.controlContainer-inactive #textContainer {
    visibility: hidden;
}

.controlContainer-inactive #shapeContainer {
    visibility: hidden;
}

.controlContainer-inactive button {
    visibility: hidden;
}

.controlContainer-active {
    transition: width 500ms, height 500ms;

    position: absolute;
    top: calc(100vw / 50);
    right: calc(100vw / 50);

    width: calc(100vw / 5);
    height: calc(100vw / 2.8);

    display: flex;
    flex-direction: column;

    /* filter: blur(1px); */
    background: linear-gradient(234deg, #2b64f1 0%, #fd7952 45.49%, #feded0 100%);
    border-radius: calc(100vw / 100);
}

#controlHeader {
    width: 100%;
    height: calc(100vw / 30);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#controlHeader p {
    user-select: none;
    margin-left: 5%;
    font-size: calc(100vw / 80);
    color: #1f1f1f;
}

#menuIconContainer {
    cursor: pointer;

    width: calc(100vw / 30);
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#menuIconContainer img {
    user-select: none;

    width: 50%;
    height: 50%;
}

#themeContainer {
    width: 100%;
    height: calc(100vw / 20);
}

#themeContainer p {
    user-select: none;

    margin-top: 0;
    margin-left: 5%;

    font-size: calc(100vw / 100);
    color: #1f1f1f;
}

#themeSelector {
    cursor: pointer;
    margin-left: 5%;

    width: 88%;
    height: 60%;

    background-color: #1f1f1f;
    border-radius: calc(100vw / 120);
}

#textContainer {
    margin-top: 5%;
    width: 100%;
    height: calc(100vw / 10);
    /* border: 1px solid #1f1f1f; */
}

#textContainer p {
    user-select: none;

    margin-top: 0;
    margin-left: 5%;

    font-size: calc(100vw / 100);
    color: #1f1f1f;
}

#textSettings {
    margin-left: 5%;

    width: 88%;
    height: 80%;

    background-color: #1f1f1f;
    border-radius: calc(100vw / 120);
}

#selectFont {
    margin-top: 3%;
    margin-left: 5%;

    padding-left: 1%;

    width: 90%;
    height: 20%;

    outline: none;
    font-size: calc(100vw / 120);

    background-color: transparent;
    color: #fff;

    border: 1px solid #fff;
    border-radius: calc(100vw / 100);
}

#WeightAndSize {
    margin-top: 3%;
    margin-left: 5%;

    width: 90%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#selectFontWeight {
    padding-left: 1%;

    width: 45%;
    height: 30%;

    outline: none;
    font-size: calc(100vw / 120);

    background-color: transparent;
    color: #fff;

    border: 1px solid #fff;
    border-radius: calc(100vw / 100);
}

#selectFontSize {
    padding-left: 1%;
    width: 45%;
    height: 30%;

    outline: none;
    font-size: calc(100vw / 120);

    background-color: transparent;
    color: #fff;

    border: 1px solid #fff;
    border-radius: calc(100vw / 100);
}

#selectColor {
    margin-top: 3%;
    margin-left: 5%;

    width: 90%;
    height: 35%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: transparent;
    color: #fff;

    border: 1px solid #fff;
    border-radius: calc(100vw / 100);
}

#selectColor button {
    cursor: pointer;

    width: 13%;
    height: 70%;

    outline: none;

    border: none;
    border-radius: calc(100vw / 2);
}

#white {
    background-color: #fff;
}

#orange {
    background-color: #fd7952;
}

#purple {
    background-color: #7b21cc;
}

#yellow {
    background-color: #e09132;
}

#green {
    background-color: #04dfb9;
}

#shapeContainer {
    margin-top: 5%;
    width: 100%;
    height: calc(100vw / 10);
    /* border: 1px solid #1f1f1f; */
}

#shapeContainer p {
    user-select: none;

    margin-top: 0;
    margin-left: 5%;

    font-size: calc(100vw / 100);
    color: #1f1f1f;
}

#shapeSettings {
    margin-left: 5%;

    width: 88%;
    height: 80%;

    display: flex;
    flex-direction: column;

    background-color: #1f1f1f;
    border-radius: calc(100vw / 120);
}

#selectStroke {
    margin-left: 3%;
    margin-top: 5%;

    width: 40%;
    height: 30%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /* border: 1px solid #fff; */
}

#selectStroke p {
    margin-top: 10%;
    font-size: calc(100vw / 120);
    color: #fff;
}

#selectStrokeSize {
    padding-left: 1%;

    width: 45%;
    height: 50%;

    outline: none;
    font-size: calc(100vw / 120);

    background-color: transparent;
    color: #fff;

    border: 1px solid #fff;
    border-radius: calc(100vw / 100);
}

#keepOpen {
    cursor: pointer;

    margin-top: 10%;
    margin-left: 50%;
    transform: translate(-50%);

    width: 40%;
    height: calc(100vw / 50);

    background-color: #1f1f1f;
    color: #d9d9d9;

    font-size: calc(100vw / 120);

    border: none;
    border-radius: calc(100vw / 100);
}

.functionContainer {
    position: absolute;
    bottom: calc(100vw / 50);
    left: 50%;
    transform: translate(-50%);

    padding-left: 1%;
    padding-right: 1%;

    width: calc(100vw / 2.5);
    height: calc(100vw / 25);

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #d9d9d9;
    border-radius: calc(100vw / 100);
}

#functionBtn {
    cursor: pointer;

    width: 70%;
    height: 80%;

    margin-left: 0.5%;
    margin-right: 0.5%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    border-radius: calc(100vw / 100);
    transition: background-color 0.5s;
}

#functionBtn:hover {
    transition: background-color 0.5s;
    background-color: #ff784f66;
}

#functionBtn img {
    width: 50%;
    height: auto;
}

.userControlContainer {
    position: absolute;
    bottom: calc(100vw / 50);
    left: calc(100vw / 50);

    width: calc(100vw / 7);
    height: calc(100vw / 25);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    border-radius: calc(100vw / 100);
}

.userControlContainer #iconContainer {
    width: 18%;
    height: 70%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.userControlContainer #iconContainer img {
    width: 80%;
    height: 90%;
}

#counter {
    font-size: calc(100vw / 100);
}

#drawingCanvas {
    width: 100%;
    height: 100%;

    background-color: #1f1f1f;
}

.addTextContainer {
    position: absolute;
    top: -1000px;
    left: -1000px;

    width: 15vw;
    height: 15vh;

    display: flex;
    flex-direction: column;

    /* background-color: #d9d9d9; */
}

.addTextContainer textarea {
    padding: 2%;

    width: 95%;
    height: 60%;

    resize: none;
    outline: none;

    background-color: transparent;
    color: #d9d9d9;

    border: 1px solid #d9d9d9;
    border-radius: calc(100vw / 150);
}

.addTextContainer button {
    position: absolute;
    bottom: 0;
    right: 0;

    border: 0;

    width: 50%;
    height: 20%;

    background-color: transparent;
    color: #d9d9d9;

    border: 1px solid #d9d9d9;
    border-radius: calc(100vw / 150);
}
